.calculator-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    border: 2px solid rgb(19, 21, 21);
    background-color: rgb(43, 44, 40);
    border-radius: 30px;
    height: 95%;
    width: 95%;
    margin: 2%;
    padding: 3%;
    justify-items: center;
    align-items: center;


    &__screen {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        border-radius: 30px;
        height: 90%;
        width: 95%;
        border: 1px solid rgb(19, 21, 21);
        background-color:rgb(105, 105, 105);

        h2 {
            height: 40%;
        }
    }

    &__buttons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        padding: 3%;
        border-radius: 30px;
        height: 100%;
        width: 95%;
        border: 1px solid rgb(19, 21, 21);
        background-color: rgb(51, 153, 137);
    }
}



@media screen and (min-width: 550px) {

    .calculator-grid {
        height: 90%;
        width: 45%;
        margin: 5%;
    }
}